.m-form__group{
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.form-group label{
    color:#041531!important;
}
.btn:disabled{
    cursor: no-drop;
}

.mousePointer{
    pointer-events: none;
}
.nav-link{
    color:#041531!important;
}
.nav-tabs .nav-link.active{
    color: #495057!important;
}

.custom-alert{
    position: fixed;
    top: 90px;
    right: 30px;
    z-index: 5000;
}