h4.colorPurpel{
    padding-bottom: 10px;
}
.form-panel{
    padding: 0px;
    padding-left: 3px;
}

.m-form__group{
    padding: 0px 5px 10px 5px!important;
}

.table tr td, .table tr th{
    vertical-align: middle;
    border-bottom: 1px solid #ebedf2!important;
    min-width: 60px;
}
.table tr th{
    font-weight: 600;
}
.table tr td a{
    text-decoration: none;
}

.custom-alert{
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 5000;
}

.dis-none{
    display: none;
}
.dis-block{
    display: table-row!important;
}
