.btn-text{
    margin: 0 10px;
}
.decoration-none:hover{
    text-decoration: none!important;
}
.product-list-right-btn>.first-child-btn{
    margin-right: 30px;
}
.product-list .m-portlet .m-portlet__head{
    /* border-bottom: none; */
}
.product-list .search-panel select option[data-default] {
    color: #888;
}
.product-list .search-panel select option[value=""][disabled] {
    display: none;
}
.product-list .search-panel input{
    text-align: center;
}
.product-list .search-panel select{
    text-align-last: center;
    padding-right: 29px;
}

.product-list .search-panel .form1-search-btn{
    padding-left: 2.6rem!important;
}

.product-list .search-panel .form-group,.product-list .search-panel .m-form__group {
    padding:1rem;
}
.product-list .add-list-btn{
    display: table-cell; vertical-align: middle;
}

/* @media only screen and (max-width: 1000px){
    .product-list .search-panel .form1-search-btn{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
@media only screen and (max-width: 768px){
    .product-list .search-panel .form1-search-btn{
        padding-top: 0px;
        padding-bottom: 0px;
    } 
} */

.copy-msg {
    position: absolute;
    top: 10px;
    left: 45%;
}

.search-panal-action button{
    margin-right: 10px; 
}

.custom-alert{
    position: fixed;
    top: 90px;
    right: 30px;
    z-index: 5000;
}

.dis-none{
    display: none;
}
.dis-block{
    display: block!important;
}

.disabled-cart{
    opacity: 0.5;
    pointer-events: none;
}

.m-portlet__head-title{
    width: 100%;
}

.img-resize-tum{
    max-width: 90px!important;
    height: 90px!important;
    object-fit: contain;
}

/*-- adition product list --*/
@media (max-width: 575px) {
    .mr-auto {
        width: 80%
    }
    .first-child-btn {
        margin-bottom: 10px;
    }
    .m-portlet .m-portlet__body {
        padding: 15px 15px;
    }

    .m-portlet .m-portlet__head 
    .m-portlet__head-caption 
    .m-portlet__head-title.m-product-title {
        display: flex;
        padding-bottom: 15px;
    }
    .product-list .add-list-btn{
        padding-top: 10px;
    }
}


