<div class="custom-alert" #hasCusAlert></div>

<div class="animated fadeIn personal-info">
  <h4 class="colorPurpel info-heading">Change Password</h4>

  <form class="m-form m-form--fit m-form--label-align-right row" #form="ngForm" (ngSubmit)="submitPass(form)">
    <div class="form-group col-sm-12 col-md-6">
      <label for="pass">
        New Password
      </label>
      <div class="input-group">
        <input autocomplete="off" [type]="showPass ? 'text' : 'password'" class="form-control m-input" 
          name="password" [(ngModel)]="newPass.password" id="pass" placeholder="Enter new password" autocomplete="off">
        <div class="input-group-append">
          <button class="btn" type="button" (click)="showPassword()">
            <i class="fa fa-eye"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group col-12">
      <div *ngIf="loader; else button" class="m-loader m-loader--brand" style="width: 30px; display: inline-block;"></div>
      <ng-template #button>
        <button type="submit" class="btn btn-brand btn-sm" style="margin-right:10px">
          <i class="fa fa-send-o"></i> <span style="padding-left:10px;">Submit</span>
        </button>
        <button type="button" class="btn btn-info btn-sm" (click)="sendChangePass()">
          <i class="fa fa-envelope"></i> <span style="padding-left:10px;">Send Change Password Email</span>
        </button>
      </ng-template>
    </div>
  </form>

</div>