search-item {
    width: 100%;
}



 /* @media (min-width: 575px){
    .sidbar-menu {
        display: block;
    }
} */

 /* #right-sidebarmenu {
    display: none;
}
#sidbar-menu {
    display: none;
} */
/* #search-body {
    display: none;
}  */
