.mr-t {
    margin-top: 20px;
}
.qtyBtn button{
    margin: 0px;
    padding: 8px;
}
.custom-alert{
    position: fixed;
    top: 100px;
    right: 30px;
    z-index: 99999999;
}
.product-gallery-featured img {
    max-height: 450px;
    object-fit: contain;
}

.btn-light {
    background: #fff;
    border: 1px solid #dae0e5!important;
    width: 150px; font-weight: 500; cursor: default!important;
}

.btn-light:focus, .btn-light:hover {
    background: #fff!important;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #a29e9e;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #6c757d;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}