.billing-details-top img {
	width: 100px;
	margin-bottom: 10px;
}
.billing-details-top span {

}
.invoice-btn {
	float: right;
	margin-top: -55px;
	float: right;
    margin-top: -55px;
    font-size: 13px;
    padding: 6px 16px;
    border-radius: 27px;
    color: #000!important;
	cursor: pointer;
	font-weight: bold;
}

.billing-table {
	padding-top: 30px;
}
.billing-table table tr th {
	font-weight: 600 !important;
	color: #555 !important;
	text-align: left;
}
.billing-table .table td, 
.billing-table .table th {
	border-top: none;
	font-size: 15px !important;
	color: #888;
	text-align: left;
	padding-left: 0;
}
.biling-price {
	padding: 30px 0;
}
.biling-price h4 {
	padding-bottom: 40px;
	color: #555;
	font-weight: 500;
}
.biling-price table tr td {
	font-size: 15px !important;
	color: #888;
	padding-left: 0;
}
.biling-price table tr th {
	font-weight: 600!important;
	font-size: 15px !important;
	color: #888;
	padding-left: 0;
}

.paid {
	color: #ffffff;
    background: #2ec534;
    padding: 0px 14px;
    border-radius: 13px;
    text-transform: capitalize;
}

.paid-status {
    background: #7ea280;
}
.paid-status.paid {
    background: #2ec534;
}
@media (max-width: 575px) {
	.invoice-btn {
	    margin-top: -95px;
	}
	.biling-price h4 {
	    line-height: 35px;
	}
}