<div class="custom-alert" #hasCusAlert></div>

<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Sections
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
              <li class="m-nav__item m-nav__item--home">
                <a routerLink="/admin" class="m-nav__link m-nav__link--icon">
                  <i class="m-nav__link-icon la la-home"></i>
                </a>
              </li>
              <li class="m-nav__separator">
                <i class="fa fa-angle-right"></i>
              </li>
              <li class="m-nav__item">
                <a class="m-nav__link">
                  <span class="m-nav__link-text">
                    Settings
                  </span>
                </a>
              </li>
              <li class="m-nav__separator" style="padding-left: 10px">
                <i class="fa fa-angle-right"></i>
              </li>
              <li class="m-nav__item">
                <a class="m-nav__link">
                  <span class="m-nav__link-text">
                    Sections
                  </span>
                </a>
              </li>
            </ul>
        </div>
    </div>
  </div>
  <!-- END: Subheader -->
  <div class="m-content animated fadeIn">
    <div class="m-portlet">
      <div class="m-portlet__body">
        <div style="padding: 20px 0px;">
          <button class="btn btn-brand" (click)="initAddSupplier()">
            Add Section
          </button>
        </div>
          <!--begin::Section-->
        <div class="m-section">
          <div class="m-section__content price-table" style="position:relative">
            <div *ngIf="loader" class="table-load m-loader m-loader--brand table-responsive"></div>
              <table class="table table-hover" style="padding-bottom: 10px;">
                <thead>
                  <tr>
                    <th>
                      id
                    </th>
                    <th>Class</th>
                    <th>
                      Name
                    </th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody *ngIf="supplierList.length > 0; else noDate">
                  <tr *ngFor="let cop of supplierList; let i = 'index'; trackBy: trackSupplier; let o='odd'; let e='even'" [ngClass]="{'odd-tr':o, 'even-tr':e}">
                    <td>
                      {{cop.id}}
                    </td>
                    <td>
                      {{cop.class.name ? cop.class.name : 0}}
                    </td>
                    <td>
                      {{cop.name}}
                    </td>
                    <td>       
                      <a id="m_quick_sidebar_toggle" (click)="editSupplier(cop)" title="Edit Supplier"
                        class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill">
                        <i class="fa fa-edit"></i>
                      </a>
                      <a id="m_quick_sidebar_toggle" (click)="deleteSupplier(cop.id)" title="Delete Supplier"
                        class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill">
                        <i class="fa fa-trash"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
                <ng-template #noDate>
                  <tbody><tr *ngIf=!loader><td colspan="5"><h5 class="text-center">No Section Found</h5></td></tr></tbody>
                </ng-template>
              </table>
            <!-- pagination Start-->
            <boot-pagination [totalSize]="pagi.total" [listSize]="pagi.limit" (pageChange)="reloadTable($event)"></boot-pagination>
            <!-- pagination End-->
          </div>

        </div>
			<!--end::Section-->
      </div>
    </div>
  </div>


  <!-- sidebar -->

<div class="native-routing animated">
	<button class="close-sidebar btn btn-sm btn-brand">
		<i class="fa fa-chevron-right"></i>
  </button>
  <span class="close-sidebar-upper">
    <i class="la la-close"></i>
  </span>
    <div class="native-routing-container">
        <app-add-supplier [supplier]="supplier" [classes]="classes" (submit)="submitSupplier($event)"></app-add-supplier>
    </div>
</div>
<!-- <div class="backdrop animated"></div> -->



  