<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          <i class="la la-search"></i>
          Search
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body search-panel">
    <!--begin::Form-->
    <form class="m-form m-form--fit m-form--label-align-right second-form">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="form-group m-form__group">
            <input class="form-control m-input" type="text" placeholder="Enter Name" name="name" [(ngModel)]="userSearch.name"
              autocomplete="off">
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-group m-form__group">
            <input class="form-control m-input" type="email" placeholder="Enter Email" name="email" [(ngModel)]="userSearch.email"
              autocomplete="off">
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-group m-form__group">
            <input class="form-control m-input" type="text" placeholder="Phone" name="phone" [(ngModel)]="userSearch.phone"
              autocomplete="off">
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-group m-form__group">
            <select class="form-control m-input" name="social_type" [(ngModel)]="userSearch.social_type">
              <option value=null>-Register Type-</option>
              <option value="email">Email</option>
              <option value="facebook">Facebook</option>
              <option value="google">Google</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="form-group m-form__group">
            <select class="form-control m-input" name="status" [(ngModel)]="userSearch.status">
              <option value=null>-Status-</option>
              <option value="1">Active</option>
              <option value="0">Inactive</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="form-group m-form__group">
            <select class="form-control m-input" name="user_type_id" [(ngModel)]="userSearch.user_type_id">
              <option value=null>-User Type-</option>
              <option value="3">Store Admin</option>
              <option value="4">Cash Register</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="form-group m-form__group">
            <div class="input-group date">
              <input type="text" class="form-control m-input" (click)="dateChange()" placeholder="-Created Date-" id="created-date"
                readonly />
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="la la-calendar-check-o"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn m-btn--pill m-btn--air btn-brand btn-sm" (click)="searchUsers()" style="margin-right:10px">
          <i class="fa fa-calendar-check-o"></i>
          Search
        </button>
        <button type="reset" class="btn m-btn--pill m-btn--air btn-danger btn-sm" (click)="resetSearch()">
          <i class="fa fa-history"></i>
          Cancel
        </button>
      </div>
    </form>
    <!--end::Form-->
  </div>
</div>
