

.linkpage-banner {
    height: 200px;
    padding-left: 15%;
	/* background-image: url(../../../assets/img/home/banner/); */
}

.table tr td, .table tr th{
    vertical-align: middle;
    border-bottom: 1px solid #ebedf2!important;
    min-width: 60px;
    text-align: left;
}
.table tr th{
    font-weight: 600;
}
.table tr td a{
    text-decoration: none;
}
.quantity .btn{
    border-radius: 0px;
}

.quantity .cart-qunt {
    width: 50px;
    border: 1px solid;
    cursor: initial;
}
.cart-action button{
    margin-left: 10px;
}

.linkpage-banner h2 {
    padding-top: 70px;
}

.cart_p {
    text-align: right!important;
    display: inline-block;
    width: 70%;

}

.theme-btn {
    padding: 7px 17px !important;
    font-size: 11px !important;
    margin-left: 30% !important;
}
.deposit {
    width:90%;
    float: left;
    font-weight: bold;
    padding-left: 11%;
    text-transform: capitalize
}
.total {
    width: 50%;
    float: left;
    text-align: right;
    padding-right: 2%;
    font-weight: bold;
}


.img-thumbnail {
    max-height: 95px!important;
    transform: scale(.8);
}