
<!-- BEGIN: Subheader -->
<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        Store List
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a routerLink="/partner/dashboard" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          <i class="fa fa-angle-right"></i>
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link">
            <span class="m-nav__link-text">
              Store List
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content product-list animated fadeIn">
  <!--begin::Portlet-->
  <store-filter (loadList)="filterList($event)"></store-filter>
  <!--end::Portlet-->
  <!--begin::Portlet-->
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
            Store List
          </h3>
        </div>
      </div>
    </div>

    <div class="m-portlet__body" style="position: relative;">
      <!--begin::Section-->
      <div class="m-section">
        <div class="m-section__content price-table">
          <div *ngIf="loader" class="table-load m-loader m-loader--brand"></div>
          <div class="table-responsive" style="margin-bottom: 10px;">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th>
                    Store Name
                  </th>
                  <th>Store Url</th>
                  <th>Status</th>
                  <th>
                    Actions
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="stores.length<1; else table">
                <tr *ngIf="!loader">
                  <td colspan="5">
                    <h4 class="text-center">No Stores Found</h4>
                  </td>
                </tr>
              </tbody>
              <ng-template #table>
                <tbody>
                  <tr *ngFor="let str of stores; let o='odd'; let e='even'; trackBy: trackStore" [ngClass]="{'odd-tr':o, 'even-tr':e}">
                    <td>
                      <img *ngIf="str.logo" class="img-fluid img-avatar img-thumbnail img-resize-tum" src="https://clientapi.rentmy.co/img/upload/store-logo/{{str.id}}/{{str.logo}}"
                        onError="this.src='./assets/img/admin/logo/store_logo.png';" style="cursor:pointer;">
                      <img *ngIf="!str.logo" class="img-fluid img-avatar img-thumbnail img-resize-tum" src="./assets/img/admin/logo/store_logo.png"
                        style="cursor:pointer;">
                    </td>
                    <th>{{str.slug}}</th>
                    <td>{{str.name + hoshName}}</td>
                    <td>
                      <span class="m-badge m-badge--wide" [ngClass]="{'m-badge--success': str.status==1, 'm-badge--danger': str.status==0}">{{str.status==1
                        ? 'Active' : 'Inactive'}}</span>
                    </td>
                    <td>
                      <div *ngIf="deleteId == str.id; else deleteS" class="m-loader m-loader--brand"
                        style="width: 30px; display: inline-block;"></div>
                      <ng-template #deleteS>
                        <a [routerLink]="['/partner/store-profile/', str.id]" class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill"
                          title="View Store">
                          <i class="fa fa-eye"></i>
                        </a>
                        <a (click)="getDomain(str)" title="Store Dashboard" class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill">
                          <i class="fa fa-dashboard"></i>
                        </a>
                      </ng-template>
                    </td>
                  </tr>
                </tbody>
              </ng-template>
            </table>
          </div>
          <!-- pagination Start-->
          <boot-pagination [totalSize]="pagi.total" [page]="pagi.page" [pagelimit]="pagi.limit" [listSize]="pagi.limit"
            (pageChange)="reloadTable($event)"></boot-pagination>
          <!-- pagination End-->
        </div>
      </div>
      <!--end::Section-->
      <!--end: Datatable -->
    </div>

  </div>
  <!--end::Portlet-->
</div>
