<div id="headerCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li *ngFor="let banner of data;let i=index" data-target="#headerCarousel" data-slide-to="0" [ngClass]="{'active':i===0}"></li>
  </ol>
  <div class="carousel-inner" style="position: relative;">
    <div class="carousel-item active" [ngClass]="{'active':i===0}" *ngFor="let banner of data;let i=index">
      <img class="d-block carousel-image w-100" [src]="banner.url">
      <div class="carousel-caption">
        <h4>{{banner.label}}</h4>
        <h3>{{banner.text}}</h3>
        <div style="margin-top: 20px;">&nbsp;</div>
        <ng-container *ngIf="banner.link && banner.type">
          <a [attr.href]="banner.link" *ngIf="banner.type == 'External'; else otherType" class="button theme-btn banner-button m-btn--icon">{{banner.btn_text}}
            <i class="fa fa-angle-right ml-1"></i>
          </a>
          <ng-template #otherType>
            <a [routerLink]="banner.link" class="button theme-btn banner-button m-btn--icon">{{banner.btn_text}}
              <i class="fa fa-angle-right ml-1"></i>
            </a>
          </ng-template>
        </ng-container>
      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#headerCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#headerCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
