<div class="custom-alert" #hasCusAlert></div>

<!-- BEGIN: Subheader -->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Register List
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a routerLink="/admin" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					<i class="fa fa-angle-right"></i>
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Register
						</span>
					</a>
				</li>
				<li class="m-nav__separator" style="padding-left: 10px">
					<i class="fa fa-angle-right"></i>
        		</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Register List
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content product-list animated fadeIn">
	<!--begin::Portlet-->
	<div class="m-portlet m-portlet--mobile" *ngIf="registerStore.store || registerStore.terminal; else selectStoreTer">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<div class="row" style="padding-top: 25px;">
            <div class="col-md-3 col-sm-6">
              <h5>Location: {{registerStore.store}}</h5>
            </div>
            <div class="col-md-3 col-sm-6">
              <h5>Register: {{registerStore.terminal}}</h5>
            </div>
            <div class="col-md-3 col-sm-6">
              <h5>Authorized Name: {{registerStore.user}}</h5>
            </div>
            <div class="col-md-3 col-sm-6 text-right">
              <button *ngIf="!open" class="btn btn-sm btn-brand" (click)="openRegister('open')">Open Register</button>
            </div>
          </div>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
			<!--begin: Datatable -->
			<!--begin::Section-->
			<div class="m-section">
				<div class="m-section__content price-table" style="position: relative;">
					<div *ngIf="loader" class="table-load m-loader m-loader--brand" ></div>
						<div class="table-responsive" style="margin-bottom: 15px;">
							<table class="table table-hover">
								<thead>
									<tr>
                    <th>Opening Date Time</th>
                    <th>Closing Date Time</th>
                    <th>Opening Amount</th>
                    <th>Closing Amount</th>
                    <th>Action</th>
									</tr>
								</thead>
								<tbody *ngIf="registerList.length < 1; else hasData">
									<tr *ngIf="!loader">
										<td colspan="5"><h4 class="text-center">No Register Found</h4></td>
									</tr>
								</tbody>
								<ng-template #hasData>
									<tbody>
                    <tr *ngFor="let reg of registerList; let i='index'; trackBy: trackRegister">
                      <td>{{getDate(reg?.date_opened) | date:'MM/dd/yyyy, hh:mm a'}}</td>
                      <td>{{getDate(reg?.date_closed) | date:'MM/dd/yyyy, hh:mm a'}}</td>
                      <td>
												{{reg?.amount_open ? '$'+ (reg?.amount_open | number: '1.2-2') : ''}}
												<span *ngIf="reg?.date_closed ? false : true" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit Register" (click)="editRegister('edit', reg)">
													<i class="fa fa-edit"></i>
												</span>
											</td>
                      <td>{{reg?.amount_close ? '$'+ (reg?.amount_close | number: '1.2-2') : ''}}</td>
                      <td>
                        <button *ngIf="reg?.date_closed ? false : true" class="btn btn-sm btn-dark" (click)="closeRegister('close', reg)">Close Register</button>
                      </td>
                    </tr>
									</tbody>
								</ng-template>		
							</table>
						</div>
					<!-- pagination Start-->
					<boot-pagination [totalSize]="pagi.total" [page]="pagi.page" [pagelimit]="pagi.limit" [listSize]="pagi.limit" (pageChange)="reloadTable($event)"></boot-pagination>
					<!-- pagination End-->
				</div>
      		</div>
        <!--end::Section-->
		<!--end: Datatable -->
		</div>
	</div>
		<!--end::Portlet-->
	<ng-template #selectStoreTer>
		<div class="m-portlet m-portlet--mobile">
			<div class="m-portlet__body">
				<h3 class="colorPurpel text-center">Please select store and terminal.</h3>
			</div>
		</div>
	</ng-template>
</div>


<!-- sidebar -->

<div class="native-routing animated">
	<button class="close-sidebar btn btn-sm btn-brand">
		<i class="fa fa-chevron-right"></i>
	</button>
	<span class="close-sidebar-upper">
		<i class="la la-close"></i>
	</span>
    <div class="native-routing-container">
        <router-outlet></router-outlet>
    </div>
</div>