<div class="custom-alert" #hasCusAlert></div>
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <!-- <h3 class="welcome-title">
                Welcome to leapinglogic, kamrul.
            </h3> -->
            <!-- <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
            </ul> -->
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content animated fadeIn">
    <!--begin::Portlet-->
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="row align-items-center">
            	<div class="col-md-4 text-center">
                    <img src="assets/img/home/shape4.svg" class="img-fluid register-img">
                </div>
                <div class="col-md-8 paragraph-body">
                    <h2>Cash Register</h2>
                    <p>
                        Here’s a short video about how to come up with product ideas for your business. You’ll learn how to use customer passions or pain points as a way of inspiring your brand
                        Here’s a short video about how to come up with product ideas for your business. You’ll learn how to use customer passions or pain points as a way of inspiring your brand
                        Here’s a short video about how to come up with product ideas for your business. You’ll learn how to use customer passions or pain points as a way of inspiring your brand
                        Here’s a short video about how to come up with product ideas for your business. You’ll learn how to use customer passions or pain points as a way of inspiring your brand
                    </p>
                    <div class="btn-group-dashboard">
                        <button type="button" class="btn m-btn--square inventory-btn btn-outline-info btn-lg" (click)="createNewOrder()">
                            Register
                        </button>
                        <button type="button" class="btn m-btn--square inventory-btn  btn-outline-success btn-lg">
                            Report
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--begin::Portlet-->
            <div class="row">
            	<div class="col-xl-6">
            		<div class="m-portlet">
						<!--begin:: Widgets/Profit Share-->
						<div class="m-widget14">
							<div class="m-widget14__header">
								<h3 class="m-widget14__title">
									Total Report
								</h3>
								<span class="m-widget14__desc">
									Share between customers
								</span>
							</div>
							<div class="row  align-items-center">
							<div class="col">
													<!-- <div id="m_chart_profit_share" class="m-widget14__chart" style="height: 160px">
														<div class="m-widget14__stat">
															45
														</div>
													</div> -->
								<img src="assets/img/home/chart.PNG" class="img-fluid">
							</div>
								<div class="col">
									<div class="m-widget14__legends">
										<div class="m-widget14__legend">
											<span class="m-widget14__legend-bullet m--bg-accent"></span>
											<span class="m-widget14__legend-text">
												37% Sport Tickets
											</span>
										</div>
										<div class="m-widget14__legend">
											<span class="m-widget14__legend-bullet m--bg-warning"></span>
											<span class="m-widget14__legend-text">
												47% Business Events
											</span>
										</div>
										<div class="m-widget14__legend">
											<span class="m-widget14__legend-bullet m--bg-brand"></span>
											<span class="m-widget14__legend-text">
												19% Others
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>			<!--end:: Widgets/Profit Share-->
					</div>
				</div>
            	<div class="col-xl-6">
            		<div class="m-portlet m-portlet--mobile m-widget14">
	            		<div class="row align-items-center">
	            			<div class="col-md-5">
			                    <img src="assets/img/home/shape7.svg" style="width: 86%;">
			                </div>
			                <div class="col-md-7 paragraph-body">
			                    <h2>Register </h2>
			                    <p>
			                        Here’s a short video about how to come up with product ideas for your business. You’ll learn how to use customer passions or pain points as a way of inspiring your brand
			                        Here’s a short video about how to come up with product ideas for your business. You’ll learn how to use customer passions or pain points as a way of inspiring your brand
			                    </p>
			                </div>
			            </div>
		            </div>
            	</div>
            
            </div>

	<!--begin::Portlet-->
	<!-- <div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__body">
			<div class="btn-group-dashboard">
                <button type="button" class="btn m-btn--square  btn-outline-info btn-lg" (click)="createNewOrder()">
                    New Order
                </button>
                <button type="button" class="btn m-btn--square  btn-outline-success btn-lg">
                    Pending Shipments
                </button>
                <button type="button" class="btn m-btn--square  btn-outline-brand btn-lg" (click)="goToReturnedList()">
                    Rental Orders
                </button>
            </div>
		</div>
	</div> -->
		<!--end::Portlet-->
</div>






