<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag="">
		<i class="la la-close"></i>
	</button>
	<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
		<!-- BEGIN: Aside Menu -->
		<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark"  		data-menu-vertical="true" 		 data-menu-scrollable="false" data-menu-dropdown-timeout="500"   		>
			<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
				<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true">
					<a  routerLink="/partner/dashboard" class="m-menu__link">
						<i class="m-menu__link-icon flaticon-line-graph"></i>
						<span class="m-menu__link-title">
							<span class="m-menu__link-wrap">
								<span class="m-menu__link-text">
									Dashboard
								</span>
							</span>
						</span>
					</a>
				</li>

				<!-- <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
					<a  href="#" class="m-menu__link m-menu__toggle">
						<i class="m-menu__link-icon flaticon-open-box"></i>
						<span class="m-menu__link-text">
							Manage Store
						</span>
						<i class="m-menu__ver-arrow la la-angle-right"></i>
					</a>
					<div class="m-menu__submenu">
						<span class="m-menu__arrow"></span>
						<ul class="m-menu__subnav">
							<li class="m-menu__item"  aria-haspopup="true" routerLinkActive="m-menu__item--active" [routerLinkActiveOptions]="{ exact: true }">
								<a  routerLink="/partner/store/list" class="m-menu__link">
									<i class="m-menu__link-bullet m-menu__link-bullet--dot">
										<span></span>
									</i>
									<span class="m-menu__link-text">
										Store List
									</span>
								</a>
							</li>
							<li class="m-menu__item"  aria-haspopup="true" routerLinkActive="m-menu__item--active" [routerLinkActiveOptions]="{ exact: true }">
								<a  routerLink="/partner/store/add" class="m-menu__link">
									<i class="m-menu__link-bullet m-menu__link-bullet--dot">
										<span></span>
									</i>
									<span class="m-menu__link-text">
										Add Store
									</span>
								</a>
							</li>
							
						</ul>
					</div>
				</li>
				
				<li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
					<a  href="#" class="m-menu__link m-menu__toggle">
						<i class="m-menu__link-icon flaticon-app"></i>
						<span class="m-menu__link-text">
							Manage App
						</span>
						<i class="m-menu__ver-arrow la la-angle-right"></i>
					</a>
					<div class="m-menu__submenu">
						<span class="m-menu__arrow"></span>
						<ul class="m-menu__subnav">
							<li class="m-menu__item"  aria-haspopup="true" routerLinkActive="m-menu__item--active" [routerLinkActiveOptions]="{ exact: true }">
								<a  routerLink="/partner/app/list" class="m-menu__link">
									<i class="m-menu__link-bullet m-menu__link-bullet--dot">
										<span></span>
									</i>
									<span class="m-menu__link-text">
										App List
									</span>
								</a>
							</li>
							<li class="m-menu__item"  aria-haspopup="true" routerLinkActive="m-menu__item--active" [routerLinkActiveOptions]="{ exact: true }">
								<a  routerLink="/partner/app/add" class="m-menu__link">
									<i class="m-menu__link-bullet m-menu__link-bullet--dot">
										<span></span>
									</i>
									<span class="m-menu__link-text">
										Add App
									</span>
								</a>
							</li>
							
						</ul>
					</div>
				</li>
	 -->
				
	 			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true">
					<a  routerLink="/partner/users" class="m-menu__link">
						<i class="m-menu__link-icon flaticon-users"></i>
						<span class="m-menu__link-title">
							<span class="m-menu__link-wrap">
								<span class="m-menu__link-text">
									User List
								</span>
							</span>
						</span>
					</a>
				</li>
				<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true">
					<a  routerLink="/partner/store-list" class="m-menu__link">
						<i class="m-menu__link-icon flaticon-folder-2"></i>
						<span class="m-menu__link-title">
							<span class="m-menu__link-wrap">
								<span class="m-menu__link-text">
									Store List
								</span>
							</span>
						</span>
					</a>
				</li>
			</ul>
		</div>
		<!-- END: Aside Menu -->
	</div>
	<!-- END: Left Aside -->