<div class="custom-alert" #hasAlert></div>

<!-- BEGIN: Subheader -->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				User Profile
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a routerLink="/partner/dashboard" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
        <li class="m-nav__separator" style="padding-left: 10px">
					<i class="fa fa-angle-right"></i>
				</li>
        <li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							User Profile
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content animated fadeIn">
	<div class="row">
		<div class="col-xl-3 col-lg-4">
			<div class="m-portlet m-portlet--full-height">
				<div class="m-portlet__body">
					<div class="m-card-profile">
						<div class="m-card-profile__title m--hide">
							Your Profile
						</div>
						<div class="m-card-profile__pic">
							<div class="m-card-profile__pic-wrapper" style="position: relative;">
									<img *ngIf="image_url; else alter" onError="this.src='./assets/img/admin/logo/user.png';" [src]="image_url" alt=""/>
									<ng-template #alter>
										<img src="./assets/img/admin/logo/user.png" alt=""/>
									</ng-template>
								<div class="change-avatar">
									<a routerLink="./account-settings/change-avatar">Change Avatar</a>
								</div>
							</div>
						</div>
						<div class="m-card-profile__details">
							<span class="m-card-profile__name">
								{{user?.first_name}} {{user?.last_name}}
							</span>
							<p class="sub-title">
								{{findUserType(user?.user_type_id)}} / <span class="btn btn-sm" 
									[ngClass]="{'btn-success':user?.status==1,'btn-danger':user?.status!=1}">{{checkStatus(user?.status)}}</span>
							</p>
							<div class="user-email">{{user?.email}}</div>
							<div class="user-email">{{dateFormat(user?.created)}}</div>
						</div>
					</div>
				</div>
      		</div>
		</div>
		<div class="col-xl-9 col-lg-8">
			<div class="m-portlet m-portlet--full-height">
				<div class="m-section head-section animated fadeIn">
					<div class="m-section__content">
						<ul id="m_quick_sidebar_tabs" class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
						<li class="nav-item m-tabs__item">
							<a class="nav-link m-tabs__link" [routerLink]="'./personal-info'" routerLinkActive="active">
							Personal Info
							</a>
						</li>
						<li class="nav-item m-tabs__item">
							<a class="nav-link m-tabs__link" [routerLink]="'./change-avatar'" routerLinkActive="active">
							Change Avatar
							</a>
						</li>
						<li class="nav-item m-tabs__item">
							<a class="nav-link m-tabs__link" [routerLink]="'./change-password'" routerLinkActive="active">
							Change Password
							</a>
						</li>
						</ul>
					</div>
					</div>

					<div class="m-section info-section animated fadeIn">
						<div class="m-section__content" style="padding-bottom: 20px;">
						<router-outlet></router-outlet>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
