<div class="flex-div shipAccount">
  <div style="width: 100px;">
    <img class="carrier-service-logo" alt="UPS® logo" src="./assets/img/admin/shipping/ups.svg" width="64" height="64">
  </div>
  <div style="flex: 1">
    <h4>UPS®</h4>
  </div>
</div>

<form class="mt-3 m-form m-form--fit m-form--label-align-right" [formGroup]="shipForm" (ngSubmit)="save()">
  <div class="row">
    <!-- <div class="form-group col-md-6">
        <label class="label-upper" for="nickname">Account nickname*</label>
        <input id="nickname" type="text" class="form-control m-input" name="nickname" formControlName="nickname"
          autocomplete="nope">
      </div> -->
  </div>

  <!-- <div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions m-form__actions" style="padding: 20px 0px;">
      <div class="m-loader m-loader--brand" *ngIf="loader; else btnSubmit" style="width: 30px; padding-left: 30px; display: inline-block;"></div>
      <ng-template #btnSubmit>
        <button type="submit" class="btn btn-brand" [disabled]="!shipForm.valid">
          <i class="fa fa-save"></i>
          <span style="padding-left:10px;">Submit</span>
        </button>
      </ng-template>
    </div>
  </div> -->
</form>
