<div class="custom-alert" #hasCusAlert></div>
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="welcome-title">
                Welcome To Dream Soft (BD)
            </h3>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content animated fadeIn" style="padding-bottom: 0px;">
    <!--begin::Portlet-->
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="row">
                <div class="col-xl-7 col-lg-8 paragraph-body">
                    <h2>Your Starting Point for Everything</h2>
                    <!--<h5>
                        Watch helpful
                        <a href="https://www.youtube.com/channel/UCXRZEBdhyIQC2PlKGIUyTug" target="_blank" class="m-link m-2"><b>How To <i class="fa fa-youtube-play"></i></b></a>
                        videos
                    </h5>-->
                    <p>
                        Run your empire from here. Configure your settings.
                    </p>
                    <div class="btn-group-dashboard">
                        <button type="button" class="btn m-btn--square  btn-outline-info btn-lg" (click)="goToStudentList()">
                            Students
                        </button>
                        <button type="button" class="btn m-btn--square  btn-outline-success btn-lg" (click)="goToSectionList()">
                            Sections
                        </button>
                        <button type="button" class="btn m-btn--square  btn-outline-brand btn-lg" (click)="goToClassList()">
                            Classes
                        </button>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-4 img-body">
                    <img src="assets/img/home/shape2.png" class="dashboard-img">
                </div>
            </div>
        </div>
    </div>

    <!--begin::Portlet-->
            <div class="row">
                <div class="col-xl-6 col-lg-12">
                    <div class="m-portlet m-portlet--full-height ">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        Settings
                                    </h3>
                                </div>
                            </div>
                            <div class="m-portlet__head-tools">
                                <div class="first-child-btn m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true" style="margin-right: 10px;">
                                    <button class="m-portlet__nav-link m-dropdown__toggle decoration-none btn m-btn--pill m-btn--air btn-light btn-sm">
                                        <!-- <span class="btn-text" style="color:#5867dd;">Actions</span> -->
                                        <span class="btn btn-brand btn-sm btn-sm  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill">
                                            <i class="la la-plus m--hide"></i>
                                            <i class="la la-angle-down"></i>
                                        </span>
                                    </button>
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav">
                                                        <li class="m-nav__item">
                                                            <a [routerLink]="['/admin/settings/location']" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                                <span class="m-nav__link-text">
                                                                    Manage Class
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a [routerLink]="['/admin/settings/supplier']" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                                <span class="m-nav__link-text">
                                                                    Manage Section
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <!--
                                                        <li class="m-nav__item">
                                                            <a [routerLink]="['/admin/settings/categories-variant']" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                                <span class="m-nav__link-text">
                                                                    Manage Categories Variant
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a [routerLink]="['/admin/settings/tag']" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                                <span class="m-nav__link-text">
                                                                    Tages
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a [routerLink]="['/admin/settings/coupon']" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                                <span class="m-nav__link-text">
                                                                    Coupons
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a [routerLink]="['/admin/settings/location']" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                                <span class="m-nav__link-text">
                                                                    Locations
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a [routerLink]="['/admin/settings/contents']" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                                <span class="m-nav__link-text">
                                                                    Contents
                                                                </span>
                                                            </a>
                                                        </li>
                                                        -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body pb-0">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <a [routerLink]="['/admin/settings/location']">
                                        <div class="menu-box text-center">
                                            <i class="fa flaticon-pie-chart"></i>
                                            <h5>Manage Class</h5>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xl-4 col-md-4 col-sm-6">
                                    <a [routerLink]="['/admin/settings/supplier']">
                                        <div class="menu-box text-center">
                                            <i class="fa flaticon-pie-chart"></i>
                                            <h5>Section</h5>
                                        </div>
                                    </a>
                                </div>
                                <!--
                                <div class="col-xl-4 col-md-4 col-sm-6">
                                    <a [routerLink]="['/admin/settings/categories-variant']">
                                        <div class="menu-box text-center">
                                            <i class="fa flaticon-pie-chart"></i>
                                            <h5>Categories Variant</h5>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xl-4 col-md-4 col-sm-6">
                                    <a [routerLink]="['/admin/settings/tag']">
                                        <div class="menu-box text-center">
                                            <i class="fa flaticon-pie-chart"></i>
                                            <h5>Tags</h5>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xl-4 col-md-4 col-sm-6">
                                    <a [routerLink]="['/admin/settings/coupon']">
                                        <div class="menu-box text-center">
                                            <i class="fa flaticon-pie-chart"></i>
                                            <h5>Coupons</h5>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xl-4 col-md-4 col-sm-6">
                                    <a [routerLink]="['/admin/settings/location']">
                                        <div class="menu-box text-center">
                                            <i class="fa flaticon-pie-chart"></i>
                                            <h5>Locations</h5>
                                        </div>
                                    </a>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12">
                    <div class="m-portlet m-portlet--full-height ">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        Students
                                    </h3>
                                </div>
                            </div>
                            <div class="m-portlet__head-tools">
                                <div class="first-child-btn m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true" style="margin-right: 10px;">
                                    <button class="m-portlet__nav-link m-dropdown__toggle decoration-none btn m-btn--pill m-btn--air btn-light btn-sm">
                                        <!-- <span class="btn-text" style="color:#5867dd;">Actions</span> -->
                                        <span class="btn btn-brand btn-sm btn-sm  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill">
                                            <i class="la la-plus m--hide"></i>
                                            <i class="la la-angle-down"></i>
                                        </span>
                                    </button>
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav">
                                                        <li class="m-nav__item">
                                                            <a [routerLink]="['/admin/inventory']" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                                <span class="m-nav__link-text">
                                                                    Student List
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a [routerLink]="['/admin/inventory/add']" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                                <span class="m-nav__link-text">
                                                                    Add New
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <!--
                                                        <li class="m-nav__item">
                                                            <a [routerLink]="['/admin/inventory/paid-3']" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                                <span class="m-nav__link-text">
                                                                    Paid
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a [routerLink]="['/admin/inventory/rejected-4']" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                                <span class="m-nav__link-text">
                                                                    Rejected
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a [routerLink]="['/admin/inventory/with-customer-5']" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                                <span class="m-nav__link-text">
                                                                    Customers
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a [routerLink]="['/admin/inventory/returned-6']" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                                <span class="m-nav__link-text">
                                                                    Returned
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a [routerLink]="['/admin/inventory/reserved-7']" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                                <span class="m-nav__link-text">
                                                                    Reserved
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a [routerLink]="['/admin/inventory/shipped-8']" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                                <span class="m-nav__link-text">
                                                                    Shipped
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a [routerLink]="['/admin/inventory/all']" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                                <span class="m-nav__link-text">
                                                                    View All
                                                                </span>
                                                            </a>
                                                        </li>
                                                       -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body pb-0">
                            <div class="row">
                                <div class="col-xl-4 col-md-4 col-sm-6">
                                    <a [routerLink]="['/admin/inventory']">
                                        <div class="menu-box text-center">
                                            <i class="fa flaticon-pie-chart"></i>
                                            <h5>Student List</h5>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xl-4 col-md-4 col-sm-6">
                                    <a [routerLink]="['/admin/inventory/add']">
                                        <div class="menu-box text-center">
                                            <i class="fa flaticon-pie-chart"></i>
                                            <h5>Add New</h5>
                                        </div>
                                    </a>
                                </div>
                                <!--
                                <div class="col-xl-4 col-md-4 col-sm-6">
                                    <a [routerLink]="['/admin/inventory/paid-3']">
                                        <div class="menu-box text-center">
                                            <i class="fa flaticon-pie-chart"></i>
                                            <h5>Paid</h5>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xl-4 col-md-4 col-sm-6">
                                    <a [routerLink]="['/admin/inventory/rejected-4']">
                                        <div class="menu-box text-center">
                                            <i class="fa flaticon-pie-chart"></i>
                                            <h5>Rejected</h5>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xl-4 col-md-4 col-sm-6">
                                    <a [routerLink]="['/admin/inventory/with-customer-5']">
                                        <div class="menu-box text-center">
                                            <i class="fa flaticon-pie-chart"></i>
                                            <h5>Customers</h5>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xl-4 col-md-4 col-sm-6">
                                    <a [routerLink]="['/admin/inventory/returned-6']">
                                        <div class="menu-box text-center">
                                            <i class="fa flaticon-pie-chart"></i>
                                            <h5>Returned</h5>
                                        </div>
                                    </a>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</div>


