<div class="custom-alert" #hasCusAlert></div>

<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        Add Student
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a routerLink="/admin" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          <i class="fa fa-angle-right"></i>
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link">
            <span class="m-nav__link-text">
              Add Student
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content row">
  <div class="m-portlet col-sm-12 col-md-9 col-lg-8 col-xl-6">
    <div class="m-portlet-body">
      <!--begin::Portlet-->
      <form class="m-form m-form--fit m-form--label-align-right" #form="ngForm" (ngSubmit)="addProduct(form)">
        <div class="form-group m-form__group">
          <label for="title">
            Name*
          </label>
          <input type="text" autocomplete="off" class="form-control m-input" placeholder="Name" id="name" name="name"
            #name="ngModel" [(ngModel)]="product.name" required>
          <span *ngIf="name.errors && name.touched">
            <small *ngIf="name.errors.required" class="error">Name Required</small>
          </span>
        </div>
        <div class="form-group m-form__group">
          <label for="Mobile">
            Mobile*
          </label>
          <input type="text" autocomplete="off" class="form-control m-input" placeholder="Mobile" id="mobile" name="mobile"
            #mobile="ngModel" [(ngModel)]="product.mobile" required>
          <span *ngIf="mobile.errors && mobile.touched">
            <small *ngIf="mobile.errors.required" class="error">Mobile Required</small>
          </span>
        </div>
          <div class="form-group m-form__group">
            <label for="Class">
              Class*
            </label>
            <select2-add-option [data]="classes" [prop]="'name'" [url]="'classes'" [domId]="'classes'"
                                [placeholder]="'Class'" (changeValue)="changed($event)"></select2-add-option>
            <input type="hidden" name="student_class" [(ngModel)]="product.class_id" required/>

          </div>
          <div class="form-group m-form__group" id="section_div" style="display: none">
            <label for="Section">
              Section*
            </label>
            <select2-add-option [data]="sections" [prop]="'name'" [parent]="product.class_id" [url]="'sections'" [domId]="'sections'"
                                [placeholder]="'Section'" (changeValue)="sectionChanged($event)"></select2-add-option>
            <input type="hidden" name="student_section" [(ngModel)]="product.section_id" required/>
          </div>

        <div class="form-group m-form__group">
          <label for="addrress"> Address </label>
          <input type="text" class="form-control m-input" placeholder="Address" id="address" name="address" [(ngModel)]="product.address" required autocomplete="off">
        </div>
        <div class="form-group m-form__group">
          <label for="Email">
            Email
          </label>
          <input type="text" class="form-control m-input" placeholder="Email" id="email" name="email" [(ngModel)]="product.email"
                 required autocomplete="off">
        </div>
        <div class="form-group m-form__group">
          <label for="title">
            Batch
          </label>
          <input type="text" class="form-control m-input" placeholder="Batch" id="batch" name="batch" [(ngModel)]="product.batch"
                 required autocomplete="off">
        </div>

        <div class="form-group m-form__group">
          <div *ngIf="loader; else button" class="m-loader m-loader--brand" style="width: 30px; display: inline-block;"></div>
          <ng-template #button>
            <button type="submit" class="btn btn-brand" [disabled]="!form.form.valid">
              <i class="fa fa-save"></i> <span style="padding-left:10px;">Save</span>
            </button>
          </ng-template>
        </div>
      </form>
      <!--end::Form-->
    </div>
  </div>


</div>
