<!--begin::Portlet-->
<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head" style="cursor: pointer;">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text text-left" style="width:92%;">
          <i class="la la-search"></i>
          Advanced Search
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body search-panel" id="advanceSearch">
    <!--begin::Form-->
    <form class="m-form m-form--fit m-form--label-align-right" #form="ngForm" (ngSubmit)="searchProduct(form.value)">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="form-group m-form__group">
            <input type="text" class="form-control m-input" name="name" ngModel
              placeholder="Product Name" aria-describedby="Product Name" autocomplete="off">
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="form-group m-form__group">
            <select class="form-control m-input"  name="category_id" ngModel>
              <option value=''>-Category-</option>
              <option *ngFor="let cat of categories; trackBy:categoryTrack" [value]="cat.id">{{cat.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="form-group m-form__group">
            <select class="form-control m-input" name="status" ngModel>
              <option value=''>-Status-</option>
              <option value="1">Active</option>
              <option value="2">Inactive</option>	
              <option value="3">Out of Stock</option>	
              <option value="4">Faulty</option>	
              <option value="5">Deleted</option>	
            </select>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="form-group m-form__group">
            <select class="form-control m-input"  name="supplier_name" ngModel>
              <option value=''>-Supplier Name-</option>
              <option *ngFor="let sup of suplliers" [value]="sup.id">{{sup.text}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="form-group m-form__group">
            <input class="form-control m-input" name="supplier_id" ngModel
            type="text" placeholder="Supplier Product ID" id="barcode" autocomplete="off">
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="form-group m-form__group">
            <input class="form-control m-input" name="barcode" ngModel
            type="text" placeholder="Barcode" id="barcode" autocomplete="off">
          </div>
        </div>
        <!-- <div class="col-md-4 col-sm-6">
          <div class="form-group m-form__group">
            <input class="form-control m-input" name="secondary_barcode" ngModel
            type="text" placeholder="Secondary Barcode" id="sec-barcode" autocomplete="off">
          </div>
        </div> -->
        <div class="col-md-4 col-sm-6">
          <div class="form-group m-form__group">
            <select class="form-control m-input" name="rental_type" ngModel>
              <option value=''>-Rental Type-</option>
              <option value="all">All</option>
              <option value="buy">Buy</option>
              <option value="rent">Rent</option>
            </select>
          </div>
        </div>
        <!-- <div class="col-md-4 col-sm-6">
          <div class="form-group m-form__group">
            <select class="form-control m-input"  name="location" ngModel>
              <option value=''>-Location-</option>
              <option *ngFor="let sup of location" [value]="sup?.id">{{sup?.location}}</option>
            </select>
          </div>
        </div> -->
        <div class="col-md-4 col-sm-6">
          <div class="form-group m-form__group">
              <label class="m-checkbox">
              <input type="checkbox" name="image" ngModel>
                Product without image
                <span></span>
              </label>
          </div>
        </div>
      </div>
      <div class="form-group m-form__group col-12 search-panal-action">
        <div *ngIf="loader; else button" class="m-loader m-loader--brand" 
          style="width: 30px; display: inline-block;"></div>
        <ng-template #button>
          <button type="submit" class="btn m-btn--pill m-btn--air btn-brand btn-sm">
            <i class="fa fa-calendar-check-o"></i>
              Search
          </button>
          <button type="reset" class="btn m-btn--pill m-btn--air btn-danger btn-sm" (click)="resetSearch(form)">
            <i class="fa fa-history"></i>
              Cancel
          </button>
        </ng-template>
      </div>
    </form>
    <!--end::Form-->
  </div>
</div>
<!--end::Portlet-->