<!--begin::Portlet-->
<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head" (click)="openAdvanceSearch()" style="cursor: pointer;">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text text-left" style="width:92%;">
          <i class="la la-search"></i>
          Advanced Search
        </h3>
        <h3 class="text-right" style="margin: auto;padding: 20px 5px;">
          <i class="la la-angle-up" id="advanceSearch" style="font-size: 1.8rem;"></i>
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body search-panel dis-none" id="advanceSearch">
    <!--begin::Form-->
    <form class="m-form m-form--fit m-form--label-align-right" #form="ngForm" (ngSubmit)="searchProduct(form.value)">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="form-group m-form__group">
            <input type="text" class="form-control m-input" name="name" [(ngModel)]="search.name"
                   placeholder="Name" aria-describedby="Product Name" autocomplete="off">
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="form-group m-form__group">
            <input type="text" class="form-control m-input" name="email" [(ngModel)]="search.email"
                   placeholder="Email" aria-describedby="Email" autocomplete="off">
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="form-group m-form__group">
            <select class="form-control m-input" name="status" [(ngModel)]="search.status">
              <option value=''>-Status-</option>
              <option value="1">Active</option>
              <option value="2">Inactive</option>
              <option value="4">Pending</option>
              <option value="5">Deleted</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="form-group m-form__group">
            <input type="text" class="form-control m-input" name="mobile" [(ngModel)]="search.mobile"
                   placeholder="Mobile" aria-describedby="Mobile" autocomplete="off">
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="form-group m-form__group">
            <select class="form-control m-input"  name="class_id" [(ngModel)]="search.class_id">
              <option value=''>-Class-</option>
              <option *ngFor="let sClass of classes;" [value]="sClass.id">{{sClass.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="form-group m-form__group">
            <select class="form-control m-input"  name="section_id" [(ngModel)]="search.section_id">
              <option value=''>-Section-</option>
              <option *ngFor="let section of sections;" [value]="section.id">{{section.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="form-group m-form__group">
            <input class="form-control m-input" name="batch" [(ngModel)]="search.batch"
                   type="text" placeholder="Batch" id="batch" autocomplete="off">
          </div>
        </div>
        <!-- <div class="col-md-4 col-sm-6">
          <div class="form-group m-form__group">
            <select class="form-control m-input"  name="location" ngModel>
              <option value=''>-Location-</option>
              <option *ngFor="let sup of location" [value]="sup?.id">{{sup?.location}}</option>
            </select>
          </div>
        </div> -->
        <div class="col-md-4 col-sm-6">
          <div class="form-group m-form__group">
            <input type="text" class="form-control m-input" name="student_id" [(ngModel)]="search.student_id"
                   placeholder="Student ID" aria-describedby="Student ID" autocomplete="off">
          </div>
        </div>
      </div>
      <div class="form-group m-form__group col-12 search-panal-action">
        <div *ngIf="loader; else button" class="m-loader m-loader--brand"
             style="width: 30px; display: inline-block;"></div>
        <ng-template #button>
          <button type="submit" class="btn m-btn--pill m-btn--air btn-brand btn-sm">
            <i class="fa fa-calendar-check-o"></i>
            Search
          </button>

          <button type="reset" id="resetFilter" class="btn m-btn--pill m-btn--air btn-danger btn-sm" (click)="resetSearch()">
            <i class="fa fa-history"></i>
            Cancel
          </button>
        </ng-template>

      </div>
    </form>
    <!--end::Form-->
  </div>
</div>
<!--end::Portlet-->