.company-logo {
    margin: auto;
    position: relative;
    margin: auto;
    max-width: 250px;
}
.change-logo{
    position: absolute;
    display: none;
    width: 100%;
    text-align: center;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);

}

.company-logo:hover .change-logo {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; 
    font-weight: 500;
    cursor: pointer;
    z-index: 999;
}

.custom-alert{
    position: fixed;
    top: 90px;
    right: 30px;
    z-index: 5000;
}
.mtop-2 {
    margin-top: 20px;
}
